<mat-card>
    <mat-card-title>Education</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <img mat-list-icon src="/assets/ost.jpg" alt="OST icon">
                <h1 mat-line>Bachelor Computer Science</h1>
                <p mat-line><a href="https://www.ost.ch/en">OST - Eastern Switzerland University of Applied Sciences</a></p>
                <p mat-line>Focus software engineering</p>
                <p mat-line>2017-2021</p>
            </mat-list-item>
            <mat-list-item>
                <img mat-list-icon src="/assets/reishauer.svg" alt="OST icon">
                <h1 mat-line>Electronics Apprenticeship</h1>
                <p mat-line><a href="https://www.reishauer.com/en/company">Reishauer AG</a></p>
                <p mat-line>Focus Application Development</p>
                <p mat-line>2013-2017</p>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
