@use '@angular/material' as mat;
@include mat.core();

$pbolliger-primary: mat.define-palette(mat.$indigo-palette);
$pbolliger-accent: mat.define-palette(mat.$teal-palette);
$pbolliger-warn: mat.define-palette(mat.$red-palette);
$my-typography: mat.define-typography-config();

$pbolliger-theme: mat.define-dark-theme((
  color: (
    primary: $pbolliger-primary,
    accent: $pbolliger-accent,
    warn: $pbolliger-warn,
  ),
   typography: $my-typography,
  density: -2
));

//todo: replace for specific used components to lower CSS size
@include mat.all-component-themes($pbolliger-theme);

html, body { height: 100%; }
body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
