.name-container {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  margin: 0.5rem;
  height: 40%;
}

.card-container {
  margin-left: 3rem;
  margin-right: 3rem;
}