<mat-card>
    <mat-card-header>
        <mat-card-title>Education</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <img matListItemAvatar src="/assets/ost.jpg" alt="Reishauer icon">
                <span matListItemTitle>Bachelor Computer Science</span>
                <span matListItemLine><a target="_blank" href="https://www.ost.ch/en">OST - Eastern Switzerland University of Applied Sciences</a></span>
                <span matListItemLine>Focus software engineering</span>
                <span matListItemLine>2017-2021</span>
            </mat-list-item>
            <mat-list-item>
                <img matListItemAvatar src="/assets/reishauer.svg" alt="Reishauer Logo">
                <span matListItemTitle>Electronics Apprenticeship</span>
                <span matListItemLine><a target="_blank" href="https://www.reishauer.com/en/company">Reishauer AG</a></span>
                <span matListItemLine>Focus Application Development</span>
                <span matListItemLine>2013-2017</span>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
